.section1 {
margin-top:50px;
display:flex;
gap:20px;



}






.div1 {

height:150px;
width:150px;
background-color: blue;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;



}

.div1Text1 {


color:white;
text-align:center;

}







.section2 {

    margin-top:50px;

    display:flex;
    gap:20px;
    
    
    
    }
    
    
    
    
    
    
    .div2 {
    
    height:150px;
    width:150px;
    background-color:red;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    
    
    
    }
    
    .div1Text2 {
    
    
    color:white;
    text-align:center;
    
    }
.section3 {
    margin-top:50px;
display:flex;
gap:20px;

}

    .div3 {
        height: 150px;
        width: 150px;
        background-color: green;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    
    .div3Text {
        color: white;
        text-align: center;
        font-size: 16px;
    }



    .section4 {
        margin-top:50px;
    display:flex;
    flex-wrap:wrap;
    gap:5px;
    
    }
    
        .span4 {
            height: 40px;
            width: 40px;
            background-color: yellow;
            border-radius: 50%;
            display:flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }
        
        .p4 {
            color: black;
            text-align: center;
            font-size: 16px;
        }